# Copier ce fichier en .env et adapter les valeurs

# Base de donnees MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=movia_db

# JWT
JWT_SECRET=change_moi_en_production
JWT_EXPIRES_IN=1d

# Serveur
PORT=3000
NODE_ENV=development
